# -----------------------------------------------------------
# Project-wide .env file
# -----------------------------------------------------------

# Application Settings
APP_NAME="FHIR Bootcamp"
APP_VERSION="0.1.0"
APP_ENV=development
APP_DEBUG=true

# Logging
LOG_LEVEL=INFO

# FastAPI App Port
APP_PORT_APP1=8001
APP_PORT=${APP_PORT_APP1}

# Local and Public base URL of the FastAPI app
APP_BASE_URL_LOCAL=http://localhost:8000
APP_BASE_URL_PUBLIC=http://<public-ip>:8000
APP_BASE_URL=${APP_BASE_URL_LOCAL}

# FHIR Server Endpoints (set FHIR_BASE_URL to active server)
FHIR_BASE_URL_LOCAL="http://localhost:8080/fhir"
FHIR_BASE_URL_EXTERNAL_1="https://fhir-bootcamp.medblocks.com/fhir"
FHIR_BASE_URL_EXTERNAL_2="https://fhir.medblocks.com/fhir/zWoWdhFBpJ7bL3jVa8VnccPvW39RkU9A"
FHIR_BASE_URL_EXTERNAL_3="https://hapi.fhir.org/baseR4"
FHIR_BASE_URL=${FHIR_BASE_URL_EXTERNAL_1}

# External FHIR Server API Token
FHIR_API_TOKEN_EXTERNAL_1=<api-token>

# SMART Discovery Base Endpoints
SMART_BASE_URL_SMARTHEALTH=https://launch.smarthealthit.org/v/r4/fhir
SMART_BASE_URL_CERNER=https://fhir-ehr.cerner.com/r4/ec2458f2-1e24-41c8-b71b-0e701af7583d
SMART_BASE_URL_MEDBLOCKS=''
SMART_BASE_URL_ACTIVE=${SMART_BASE_URL_SMARTHEALTH}

# PostgreSQL App DB
POSTGRES_APP_HOST=localhost
POSTGRES_APP_PORT=5432
POSTGRES_APP_DB=fhirbootcamp
POSTGRES_APP_USER=fbcuser
POSTGRES_APP_PASSWORD=<app-password>

# PostgreSQL Local HAPI FHIR DB
POSTGRES_HAPI_HOST=localhost
POSTGRES_HAPI_PORT=5432
POSTGRES_HAPI_DB=hapifhir
POSTGRES_HAPI_USER=hfuser
POSTGRES_HAPI_PASSWORD=<hapi-password>

# Keycloak admin
KEYCLOAK_ADMIN_PASSWORD=<kc-password>

# Keycloak OAuth2 client
KEYCLOAK_URL=http://localhost:8180
KEYCLOAK_REALM=fhirbootcamp
KEYCLOAK_CLIENT_ID=fhir-demo
KEYCLOAK_CLIENT_SECRET=<client-secret>

# Session security
# generate with: python3 -c "import secrets; print(secrets.token_hex(32))"
SESSION_SECRET_KEY=88b5f44fd712bb8f6072efb524be0000920f2394ac076597145e540091962283

# Epic Sandbox
# EPIC_CLIENT_ID="c7291a12-821b-4b9f-834f-a86fa6242e32"
EPIC_NONPROD_CLIENT_ID="a2c447d6-fe8a-44ea-90ed-b0611d3530d2"
EPIC_CLIENT_SECRET=<client-secret>
EPIC_AUTHORIZE_URL=https://fhir.epic.com/interconnect-fhir-oauth/oauth2/authorize
EPIC_TOKEN_URL=https://fhir.epic.com/interconnect-fhir-oauth/oauth2/token
EPIC_FHIR_BASE_URL=https://fhir.epic.com/interconnect-fhir-oauth/api/FHIR/R4
EPIC_SCOPE="openid fhirUser patient/*.r"
APP_REDIRECT_URI="http://localhost:8000/auth/callback"
